.filterlabel {
  font-size: 24px;
  color: #8a6657;
}

.filterinput {
  font-size: 18px;
  margin-left: 12px;
  margin-bottom: 20px;
  border-radius: 6px;
  border: none;
  background-color: #b9daf0;
}
